@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');



.input-field {
    appearance: none;
    width: 100%;
    outline: none;
    box-shadow: none;
    border: solid;
    border-width: 0.1rem;
    text-align: center;
    font-family: 'Catamaran', sans-serif;
    padding: 0.3rem;
	color: black;
	font-size: 1rem;
}


.basic-grid {
    margin-top: 3rem;
    display: grid;
    gap: 1rem;
    grid-template-rows: repeat(5, 0.2fr);
    justify-content:center;
}

.LK-tickbox {
    background-color: lightcoral;
    -webkit-tap-highlight-color: none;
    cursor: pointer;
}

.submit-button {
    border-style: solid;
    border: none;
    outline: none;
    font-family: 'Catamaran', sans-serif;
    cursor: pointer;
    background-color:lightcoral;
    color:black;
    border-radius: 7%;
    font-size: 1.3em;
}


.submit-button:hover {
    background-color:coral;
}


.refresh-button {
    cursor: pointer;
}

.home-button {
    border-style: solid;
    border: none;
    outline: none;
    font-family: 'Catamaran', sans-serif;
    cursor: pointer;
    background-color:lightcoral;
    color:black;
    border-radius: 10%;
}

.home-button-div {
    display: flex;
    justify-content: center;
    margin-left: 97%;
    width: 1%;
    display: none;
}

.refresh-button-div {
    display: flex;
    justify-content: center;
    margin-left: 97%;
    width: 1%;
    display: none;
}


.first-container {
    display: flex;
    justify-content: center;
}

.second-container {
    display: flex;
    justify-content: center;
}

.third-container { 
    display: flex;
    justify-content: center;
}

.text-container {
    display: flex;
    justify-content: center;
}

.latest-grade {
    display: flex;
    justify-content: center;
}

.grade-container {
    gap: 0.2rem;
    border: black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: clamp(15%, 25%, 20%);
    height: 70%;
    margin: auto;
}


.new-grade-p {
   font-size: 1.1rem;
}

.new-grades-div {
    background-color: rgb(116, 190, 250);
    width: clamp(20%, 30%, 20%);
    height: clamp(3%, 7%, 5%);
    display: flex;
    justify-content: center;
    position: relative;
    cursor: pointer;
    border-radius: 7%;
}

.new-grades-div:hover {
    background-color: rgb(48, 144, 223);
}



.title-grade {
    display: flex;
    justify-content: center;
    letter-spacing: 0.2rem;
}

@media only screen and (max-width: 600px) {
    .navbar {
        display: none;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }
    .nav-link {
        justify-content: center;
    }
    
    main {
        margin: 0;
    }

    .title-grade {
        display: flex;
        justify-content: center;
        font-size:medium;
    }

    .grade-container {
        width: 100%;
    }
    .refresh-button-div {
        display: flex;
    }
    .home-button-div {
        display: flex;
    }
}